.backdrop {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;

  background: rgb(0 0 0/50%);
}

.modal {
  position: relative;
  width: min(400px, calc(100% - 32px));
  padding: 1.5rem;
  background: #eee;
  border-radius: 0.75rem;
}

.modal form {
  display: grid;
  gap: 1rem;
}

.modal > button {
  position: absolute;
  top: 8px;
  right: 8px;
}
